{% extends 'admin_theme.html' %}

{%block content%}

<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand"><h4><center><b>E-Kart</b></center></h4></a>
  <a class="nav-link" href="{% url 'admin' %}">Product List</a>
  <a class="nav-link" href="{% url 'user_list' %}">User List</a>
  <form action="{% url 'admin_search' %}" method="POST" class="form-inline">
    {% csrf_token %}
    <input class="form-control mr-sm-2" type="search" name="id" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>

<h1><center>Admin Panel!</center></h1><br>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product Id</th>
      <th scope="col">Product Name</th>
      <th scope="col">Price</th>
      <th scope="col">Stock</th>
    </tr>
  </thead>
  <tbody>
  {% for product in products %}
    <tr>
      <th>{{product.id}}</th>
      <td>{{product.name}}</td>
      <td>{{product.price}}</td>
      <td>{{product.stock}}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

<center>
  <a href="{% url 'update_id_catch' %}"><button type="button" class="btn btn-warning">Update</button></a>
  <a href="{% url 'admin_add' %}"><button type="button" class="btn btn-warning">Add</button></a>
  <a href="{% url 'admin_delete' %}"><button type="button" class="btn btn-warning">Delete</button></a>
</center>
{%endblock%}