{% extends 'crud_theme.html' %}

{% block content %}
<h1><center>Delete Product</center></h1>
<form action="{% url 'admin_delete' %}" method="POST" class="p-5">
    {% csrf_token %}
    <div class="form-group">
      <label for="formGroupExampleInput">Product ID: </label>
      <input type="text" name="id" class="form-control" id="formGroupExampleInput" style="width: 50%;">
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Delete</button>
    </div>
</form> 
{% endblock %}